<div class="container">
    <h1>Quiz the Question Game</h1>

    <form role="form" method="get" action="/quizzes/<%= quiz.id %>/check">
        <div class="form-group">
            <label for="answer">
                <%= quiz.question %>
            </label>
            <input type="text" class="form-control" name="answer" id="answer" value="<%= answer %>" placeholder="Responde aquí">
        </div>
        <button type="submit" class="btn btn-default">Responder</button>
    </form>
</div>

<div class="container">
    <h3>Category: <%= quiz.category%></h3>
</div>

<div class="container">
    <h3>Comments</h3>
    <ul>
        <% for (var i in quiz.Comments){ %>
            <li>
                <%= quiz.Comments[i].text %>
            </li>
            <% }  %>
    </ul>

    <% if (session.user ){%>
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-target="#comment" data-toggle="modal">
            Add a comment <span class="glyphicon glyphicon-comment"></span></button>
    </div>
    <% } %>
</div>




<% include ../comments/new_modal.ejs %>
