<div class="container">
    <h1>Quiz the Question Game</h1>

    <form role="form" method="get" action="/quizzes/<%= quiz.id %>/check">
        <div class="form-group">
            <label for="answer">
                <% if (quiz.Attachment) { %>
                    <img src="<%= quiz.Attachment.url %>" />
                    <% } else { %>
                        <img src="/images/question.jpg" width="50px" />
                        <% } %>
                            <%= quiz.question %>
            </label>
            <input type="text" class="form-control" name="answer" id="answer" value="<%= answer %>" placeholder="Responde aquí">
        </div>
        <button type="submit" class="btn btn-default">Responder</button>
    </form>
</div>

<div class="container">
    <h3>Categories:</h3>
        <% for (var i in quiz.QuizCategories){ %>
            <p>
              <a href="/category/<%=quiz.QuizCategories[i].id %>" class="<%=quiz.QuizCategories[i].icon %>"> <%= quiz.QuizCategories[i].text%></a>

            </p>
            <% } %>
</div>

<div class="container">
    <h3>Comments</h3>
    <ul>
        <% for (var i in quiz.Comments){
           var comment = quiz.Comments[i];
           if(comment.accepted){ %>
            <li>
                <p>
                    <%= comment.text %> (by
                        <a class="glyphicon glyphicon-user" aria-hidden="true" href="/users/<%= comment.AuthorId %>">
                            <%= comment.Author.username %>
                        </a> )

                        <%  if (session.user &&  (session.user.isAdmin || session.user.id === quiz.AuthorId )){%>
                            <a class="glyphicon glyphicon-trash" aria-hidden="true" href="/quizzes/<%= quiz.id%>/comments/<%= comment.id %>?_method=DELETE" onClick="return confirm('Delete ths comment?')"></a>
                            <% } %>

                </p>
            </li>
            <% } else if(session.user && (session.user.isAdmin || session.user.id === quiz.AuthorId )){ %>
                <li>
                    <p>
                        <%= comment.text %> (by
                            <a class="glyphicon glyphicon-user" aria-hidden="true" href="/users/<%= comment.AuthorId %>">
                                <%= comment.Author.username %>
                            </a> )
                    </p>
                    <p>
                        <a class="btn btn-primary" href="/quizzes/<%= quiz.id%>/comments/<%= comment.id %>/accept?_method=PUT">
                          Accept
                          </a>
                    </p>
                    <p>
                        <a class="btn btn-primary" aria-hidden="true" href="/quizzes/<%= quiz.id%>/comments/<%= comment.id %>?_method=DELETE" onClick="return confirm('Delete ths comment?')">
                          Delete
                        </a>
                    </p>
                </li>
                <% }  %>
                    <% }  %>
    </ul>

    <% if (session.user ){%>
        <div class="text-center">
            <button type="button" class="btn btn-primary" data-target="#comment" data-toggle="modal">
                Add a comment <span class="glyphicon glyphicon-comment"></span></button>
        </div>
        <% } %>



</div>




<% include ../comments/new_modal.ejs %>
