<script type="text/javascript">
    $(document).ready(function() {

        $('.quizzContainer').hover(
            function() {
                $(this).find('.caption').slideDown(250); //.fadeIn(250)
            },
            function() {
                $(this).find('.caption').slideUp(250); //.fadeOut(205)
            }
        );
    });
</script>
<br>
<div class="container background-light">
    <br>
    <div class="container">
        <h1><i class="<%=category.icon %>"></i> <%= category.text %></h3>
    </div>
    <div class="row container">
        <div class="col-md-6">
            <h2><%= indexTitle %></h2>
            <form role="form" method="get" action="/quizzes/search" id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" name="search" id="search" value="<%= search %>" />
                    <span class="input-group-btn">
                    <button class="btn btn-primary btn-lg" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row container">
        <% if  (quizzes.length > 0){ %>
            <% for (var i in quizzes){ %>
                <div class="col-md-3">
                    <div class="quizzContainer">
                        <% if (quizzes[i].Attachment) { %>
                            <div class="caption">
                                <h4><%= quizzes[i].question %></h4>
                                <h3><a href="/quizzes/<%= quizzes[i].id %>" class="label label-danger" rel="tooltip" title="answer">Answer</a></h3>
                                <%  if(quizzes[i].Author){ %>
                                    <p>
                                        <a class="glyphicon glyphicon-user" aria-hidden="true" href="/users/<%= quizzes[i].AuthorId %>">
                                            <%= quizzes[i].Author.username %>
                                        </a>
                                    </p>
                                    <% if(session.user){ %>
                                        <%  if (session.user.isAdmin || session.user.id === quizzes[i].AuthorId ){%>
                                            <p>
                                                <a class="btn btn-default" aria-hidden="true" href="/quizzes/<%= quizzes[i].id %>/edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a class="btn btn-danger" aria-hidden="true" href="/quizzes/<%= quizzes[i].id %>?_method=DELETE" onClick="return confirm('Delete: <%= quizzes[i].question %>')"><i class="glyphicon glyphicon-trash"></i></a>
                                            </p>
                                            <% } %>
                                                <% } %>
                                                    <% } %>
                            </div>
                            <div class="thumbnail_container">
                                <div class="thumbnail">
                                    <img class="quizzImage" src="<%= quizzes[i].Attachment.url %>" width="50px" />
                                </div>
                            </div>
                            <% } else { %>
                                <div class="noFoto">
                                    <h4><%= quizzes[i].question %></h4>
                                    <h3><a href="/quizzes/<%= quizzes[i].id %>" class="label label-danger" rel="tooltip" title="answer">Answer</a></h3>
                                    <% if(quizzes[i].Author){ %>
                                        <p>
                                            <a class="glyphicon glyphicon-user" aria-hidden="true" href="/users/<%= quizzes[i].AuthorId %>">
                                                <%= quizzes[i].Author.username %>
                                            </a>
                                            <% if(session.user){ %>
                                                <%  if (session.user.isAdmin || session.user.id === quizzes[i].AuthorId ){%>
                                                    <p>
                                                        <a class="btn btn-default" href="/quizzes/<%= quizzes[i].id %>/edit"><i class="glyphicon glyphicon-pencil"></i></a>
                                                        <a class="btn btn-danger" href="/quizzes/<%= quizzes[i].id %>?_method=DELETE" onClick="return confirm('Delete: <%= quizzes[i].question %>')"><i class="glyphicon glyphicon-trash"></i></a>
                                                    </p>
                                                    <% } %>
                                                        <% } %>
                                        </p>
                                        <% } %>
                                </div>
                                <div class="thumbnail_container">
                                    <div class="thumbnail">
                                        <img class="quizzImage" src="/images/question.jpg" width="50px" />
                                    </div>
                                </div>
                                <% } %>
                    </div>
                </div>
                <% } %>
                    <% } else{ %>
                        <h3>No quiz was found</h3>
                        <% } %>
    </div>
    <% if (session.user ){%>
        <div class="text-center">
            <p><a class="btn btn-primary btn-lg" href="/quizzes/new" role="button">Make new Quiz</a></p>
        </div>
        <% } %>
</div>
