<div class="container">
    <h1>Quiz the Question Game</h1>
</div>

<div class="container">
    <h3>Username: <%= user.username%></h3>
    <h3>Is Administrator: <%= user.isAdmin ? "Yes" : "No"%></h3>
</div>

<% if (session.user){ %>
    <div class="container">
        <% if(session.user.isAdmin || session.user.id === user.id ){%>
            <div class="panel panel-body">
                <a type="button" class="btn btn-primary" href="/users/<%=user.id %>/edit">
            Edit <span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <% } %>
                <% if (session.user.isAdmin && session.user.id !== user.id ){%>
                    <div class="panel panel-body">
                        <a type="button" class="btn btn-primary" href="/users/<%= user.id %>?_method=DELETE" onClick="return confirm('Delete User: <%= user.username %>')">
            Delete <span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                    <% } %>
    </div>
    <% } %>

        <% var quizzes = user.Quizzes;
         if  (quizzes.length > 0){ %>
            <div class="container">
                <h3><%= ( session.user &&  (session.user.isAdmin || session.user.id === user.id )) ? "Your " : "His "%> Quizzes</h3>
            </div>
            <br/>
            <div class="container">
                <table class="table table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th>#</th>
                            <th>Images</th>
                            <th>Quiz</th>
                            <% if (session.user ){%>
                                <th></th>
                                <th></th>
                                <% } %>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i in quizzes){ %>
                            <tr>
                                <th scope="row">
                                    <%=  (+i+1) %>
                                </th>
                                <td>
                                    <% if (quizzes[i].Attachment) { %>
                                        <img src="<%= quizzes[i].Attachment.url %>" width="50px" />
                                        <% } else { %>
                                            <img src="/images/question.jpg" width="50px" />
                                            <% } %>
                                </td>
                                <td>
                                    <span>
                                <a href="/quizzes/<%= quizzes[i].id %>">
                                    <%= quizzes[i].question %>
                                </a>
                                </span>
                                </td>
                                <% if(session.user){ %>
                                    <td>
                                        <%  if (session.user.isAdmin || session.user.id === quizzes[i].AuthorId ){%>
                                            <a class="glyphicon glyphicon-pencil" aria-hidden="true" href="/quizzes/<%= quizzes[i].id %>/edit"></a>
                                            <% } %>
                                    </td>
                                    <td>
                                        <%  if (session.user.isAdmin || session.user.id === quizzes[i].AuthorId ){%>
                                            <a class="glyphicon glyphicon-trash" aria-hidden="true" href="/quizzes/<%= quizzes[i].id %>?_method=DELETE" onClick="return confirm('Delete: <%= quizzes[i].question %>')"></a>
                                            <% } %>
                                    </td>
                                    <% } %>

                            </tr>
                            <% } %>
                    </tbody>
                </table>

            </div>


            <% } else{ %>
                <div class="container">
                    <h3>No quiz was found from this user </h3>
                </div>

                <% } %>
